     <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In to</h3>
                    </div>
                    <div class="panel-body">
                        <?= $this->Flash->render('auth') ?>
                        <?= $this->Form->create() ?>
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <?= $this->Form->button('Login',  array('class' => 'btn btn-lg btn-success btn-block')); ?>
                            </fieldset>
                        <?= $this->Form->end() ?>
                    </div>
                </div>
            </div>
        </div>
    </div>