.navbar-default.top-header{
    background-color: #ffffff !important;
}

.md-description {
    border-bottom: 1px solid #0000cc;
    margin-top: 10px;
}

.md-description p {
    border-bottom: 1px solid #0000cc;
    margin-top: 10px;
}

#md-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9B9889;
}

#md-menu li {
    float: left;
}

#md-menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

#md-menu li a:hover {
    background-color: #6FBCEE;
}

#md-menu li a:visited {
    background-color: #6FBCEE;
}

#md-menu li .active, #md-sub-menu li .active {
    background-color: #6FBCEE;
}

#md-sub-menu ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #4C4C4C;
}

#md-sub-menu li {
    float: left;
}

#md-sub-menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px;
}

#md-sub-menu li a:hover {
    background-color: #6FBCEE;
}

#md-sub-menu li a:visited {
    background-color: #6FBCEE;
}

@media only screen and (max-width: 1180px)  {
    #map {
        height: 400px !important;
    }
}


.nav .map-menu {
    display: inline-block;
    margin: 0 0 -1px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.nav .map-menu {
    color: #555;
    border: 1px solid #ddd;
    border-top: 3px solid #FFA500;
    border-bottom: 1px solid #fff;
}

.nav .map-menu .active {
    background-color: #E8E8E8;
}

.smart-logo {
    margin-top:4px;
    margin-right: 40px;
    float:right;
    border:0px solid red;
    letter-spacing: 1px
    font-size: 200%; 
}

.top-bar {
  padding-left : 85px;
  font-size : 40pt;
  vertical-align : bottom;
}

.top-bar-left {
    /*padding-left: 1100px;*/
    font-size : 14pt;
    text-align: right;
}
.bread-crumb {
    padding-left: 270px;
}

.user-name{
  /*padding-left: 580px;*/
  font-size : 14pt;
  text-align: right;
}

.col-md-6{ 
    padding-top: 10px;
}

.navbar {
    margin-top: : 0px;
}
.sidebar-nav {
    margin: 0px;
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: auto;
  }